.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 25px;
}
.select {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 8px;
}
.header__logoImage {
  margin-right: 10px;
}

.header__logoTitle {
  text-decoration: none;
  border: 0;
  color: white;
}
.location-icon {
  color: white;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header__searchInput {
  height: 15px;
  padding: 13px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 13px;
  height: 15px !important;
  background-color: #dca244;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header-address {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
}
.header-address span {
  font-size: 13px;
}
.nav__item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.nav__itemLineOne {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.001rem;
}

.nav__itemLineTwo {
  font-size: 15px;
  font-weight: 700;
}

.nav__itemBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 50px;
  margin-left: 10px;
}

.nav__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.input__select {
  background-color: gainsboro;
  width: 65px;
  padding: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
